* {
  margin: 0;
  padding: 0;
}

body {
  width: 1000px;
  margin: 0 auto;
}

ul > li {
  list-style-type: none;
  border: 1px solid #f9e5ad;
  margin: 10px;
  padding-top: 10px;
  background-bottom: 10px;
  background-color: #f7e8bc70;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-logo {
  width: 100px;
  height: 100px;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
